# Dependencies
node_modules
*/node_modules

# Environment
.env.local
.env
.env.development.local
.env.test.local
.env.production.local
client/.env
server/.env

# Build output
.next
out
dist
client/tsconfig.tsbuildinfo

# Database
*.db
*.sqlite

# Uploads
*/public/uploads/*
!*/public/uploads/.gitkeep

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*

# Test coverage
coverage

# Resumes and PDFs
*.pdf